<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 연결할 디비 정보를 가져올 파일? -->
	<properties resource="application.properties"/>
	
	<!-- db의 _표기 방식을 자바의 카멜표기법으로 바꿔줌. -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 패키지 경로를 정해두면, mapper에서 타입지정을 할때 클래스 이름만 쓰면 됨. -->
	<typeAliases>
		<package name="kr.or.yi.gradle_mybatis_c3p0.dto"/>
	</typeAliases>
	
	
	<environments default="development">
		<environment id="development">
		
			<!--type에는 jdbc(수동commit) or MANAGED(자동-sql만 날리면 들어감)   -->
			<transactionManager type="JDBC"/>
			<!-- 커넥션풀 사용 여부, unpooled면 사용안함. 사용할거면 사용할 경로명 -->
			<dataSource type="kr.or.yi.gradle_mybatis_c3p0.jdbc.C3P0DataSourceFactory">
				<!-- db연결 정보 -->
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<!-- 매퍼 파일 경로 -->
	<mappers>
		<mapper resource="mappers/TitleMapper.xml"/>
		<mapper resource="mappers/DepartmentMapper.xml"/>
		<mapper resource="mappers/EmployeeMapper.xml"/>
	</mappers>
	
</configuration>